.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 75px;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.disabledButton {
    background-color: #ff0000;
    color: #000000;
    height: 50px;
    width: 75px;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
}

.texto {
    margin-top: 50px;
}